.bg-main-dark {
  background-color: #15202b;
}

.bg-main-light {
  background-color: #f0f4f8;
}

.bg-header-dark {
  background-color: #0f1a24;
}

.bg-header-light {
  background: linear-gradient(to right, #0D6EFD,  #56c7e1, #2ea6bf);
  background-size: 600% 600%;
  animation: GradientAnimation 15s ease infinite;
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.custom-toggler {
  border-color: #fff; /* Cor da borda */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Muda a cor do ícone do botão para branco */
}

.navbar-toggler {
  padding: 0.5rem 1rem; /* Aumenta o tamanho do botão */
  background-color: rgba(255, 255, 255, 0.2); /* Adiciona um fundo semitransparente */
}

.bg-card-dark {
  background-color: #1F2937 !important;
}

.bg-card-light {
  background-color: #fff !important;
}

.bg-card-dark img, .bg-card-light img {
  height: 180px;
  object-fit: cover;
}

.bg-card-dark p, .bg-card-light p {
  text-indent: 20px;
}

.mainHeader img {
  height: 250px;
  transform: rotate(-15deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: climb 5.5s infinite;
}

main .skill .logo {
  display: flex;
  justify-content: center;
}

main .skill .logo i {
  font-size: 130px;
}

@keyframes climb {
  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@media screen and (min-width: 768px) {
  .card-project > .card {
    height: 465px;
  }
}

@media screen and (min-width: 1024px) {
  .mainHeader img {
    height: 350px;
  }

  .card-project > .card {
    height: 480px;
  }
}